body  {
  background-color: #aaaaaa;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;
}
.header  {
 background-color: black; 
 margin: 300px 150px 0px 150px;
 padding: 25px 0px 25px 0px;
}
a {
 text-decoration: none;
 color: inherit;
}
a:hover {
 color: black; 
}
