body {
  background-color: #aaaaaa;
  font-family: "Montserrat", sans-serif;
}
h1  {
 text-align:center;
 color: white;
 padding-top: 20px;
 font-size: 64px;
 font-weight: 300;
 letter-spacing: 25px;
 border: white;
}
.banner {
  background-color: black;
  padding-bottom: 735px;
}
#store-title  {
 padding-top: 365px; 
}
