body {
  background-color: #aaaaaa;
  font-family: "Montserrat", sans-serif;
}
h1  {
 text-align:center;
 color: white;
 padding-top: 20px;
 font-size: 64px;
 font-weight: 300;
 letter-spacing: 25px;
 border: 2px solid white;
}
.banner {
  background-image: url("https://raw.githubusercontent.com/Aren-dt/Woodworking-Website/gh-pages/banner.jpeg");
  background-repeat: no-repeat;
  background-color: black;
  padding-bottom: 340px;
}
#store-title  {
 padding: 300px 75px 5px 75px; 
}
