body {
  margin: 0px
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
  height: 100%;
}
.selector {
  background-color: black;
  color: white;
  text-align: center;
}
.gallery {
  background-color: #aaaaaa;
}
.button  {
  padding:!important 100px 0px 100px 0px;
  text-align: center;
}
#store  {
  padding: 200px 0px 200px 0px;
  text-align: center;
}
